@import "tailwindcss";

:root {
  --primary-color-one: #F7C848;
  --primary-color-two: #017AFF;
  --primary-color-three: #ffffffc1;
  --primary-color-four: #090E17;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@theme inline {
  --color-primary-color-one: var(--primary-color-one);
  --color-primary-color-two: var(--primary-color-two);
  --color-primary-color-three: var(--primary-color-three);
  --color-primary-color-four: var(--primary-color-four);
}
@utility container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
